body{
  background-color: black;
  color: white;
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-weight: 300;
}

.navbar{
 border-bottom: 1px solid white;
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 15px 20px;
 height: 30px;
}
/* .navbar>div{
  border: 1px solid white;
} */



.navbar>div:nth-child(2){
  display: flex;
  justify-content: space-between;
  column-gap: 50px;
}
.navbar>div:nth-child(2) span{
cursor: pointer;
}

.form-cont{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 20px;
  align-items: flex-start;
  width: 70%;
  height: calc(95vh - 30px);
  margin:  auto;
  overflow: auto;
}

.form-cont>h1{
  /* border: 1px solid white; */
  font-size: 2.5rem;
  font-weight: 400;
}

form{
  /* border: 1px solid white; */
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  width: 100%;
}

form>input{
 background-color: black;
 color: white;
 border: none;
 border-bottom: 1px solid white;
 outline: none;
 height: 30px;
 
}

::placeholder{
  color: white;
}

button{
  width: 150px;
  padding: 10px;
  cursor: pointer;
  border: none;
}

/* #err-msg{
display: none;
} */

a{
  text-decoration: none;
  color: white;
}

.info{
  border: 1px solid wheat;
  padding: 20px;
  font-weight: lighter;
  
}

/* #log-out{
  display: none;
} */
.error-msg{
  color: #FF4F4F;
}
.success-msg{
  color: #7ECD71;
}
